<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="" class="facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="" class="instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div>Wanderlust pvt Ltd<sup><i class="fa-regular fa-copyright"></i></sup></div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>