<% layout("/layouts/boilerplate.ejs")%>
<body>
    <h3>Create New Listing</h3>
    <form action="/listings" method="post">
        <input name="title" type="text" placeholder="enter title" required> <br>
        <textarea name="description" placeholder="enter description" required></textarea> <br>
        <input name="image" type="url" placeholder="enter image link/url" > <br>
        <input name="price" type="number" placeholder="enter price" required> <br>
        <input name="location" type="text" placeholder="enter locaiton" required> <br>
        <button>Submit</button>
    </form>
</body>
